<!doctype HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Coffee Cups</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .card-img-top {
            height: 200px;
        }
        .card h5 {
            height: 50px;
        }
        .card {
            margin-bottom: 20px;
        }

        @media (max-width: 576px) {
            .card-img-top {
                height: auto;
            }
            .img-wrapper {
                height: 150px;
            }
            .card-body {
                height: 180px;
            }
        }
    </style>
</head>
<body>

<div class="container">
    <h1 class="text-center">Coffee Cups</h1>
    {{range $i, $c := .Cups}}
        {{if isRow $i}}<div class="row">{{end}}
            <div class="card">
                <div class="img-wrapper">
                    <img class="card-img-top" src="{{$c.Image}}">
                </div>
                <div class="card-body">
                    <h5>{{$c.Name}}</h5>
                    <p class="card-text">{{$c.Price}}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        {{if isNextRow $i}}</div>{{end}}
    {{end}}
    <div class="row">
        <div class="col-md-4 col-lg-3 col-6">
            <div class="card">
                <div class="img-wrapper">
                    <img class="card-img-top" src="../assets/cups/blur-2846257__340.jpg">
                </div>
                <div class="card-body">
                    <h5>White</h5>
                    <p class="card-text">$5.50</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3 col-6">
            <div class="card">
                <div class="img-wrapper">
                    <img class="card-img-top" src="../assets/cups/blur-2846257__340.jpg">
                </div>
                <div class="card-body">
                    <h5>White</h5>
                    <p class="card-text">$5.50</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6">
            <div class="card">
                <div class="img-wrapper">
                    <img class="card-img-top" src="../assets/cups/cappuccino-593256__340.jpg">
                </div>
                <div class="card-body">
                    <h5>Stylish Cappuccino</h5>
                    <p class="card-text">$7.99</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6">
            <div class="card">
                <div class="img-wrapper">
                    <img class="card-img-top" src="../assets/cups/cappuccino-756490__340.jpg">
                </div>
                <div class="card-body">
                    <h5>White Cappuccino</h5>
                    <p class="card-text">$9.99</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6">
            <div class="card">
                <div class="img-wrapper">
                    <img class="card-img-top" src="../assets/cups/code-geek-2680204__340.png">
                </div>
                <div class="card-body">
                    <h5>Code Geek</h5>
                    <p class="card-text">$15.99</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>